[2016-12-09 15:42] jsantana90 opened #3 "A way to add dollar sign as prefix?"
Hello, thanks for this component!

I was wondering if there's a way to add a $ symbol as prefix using this component?

[2016-12-09 19:06] jsillitoe commented on #3
That is not currently supported in this component, but i like the feature and it will be simple enough to implement.  I'll take a crack at it.

[2016-12-09 20:12] jsillitoe commented on #3
Just added support, you can set the $ prefix like this:
``
<CurrencyInput prefix="$" />
``

[2016-12-09 20:12] #3 closed

[2016-12-09 20:38] jsantana90 commented on #3
oh wow thanks!

btw, I get an error when I start typing

`Unknown prop `suffix` on <input> tag. Remove this prop from the element`

the component looks like this:
[code]

[2016-12-09 20:45] jsillitoe commented on #3
Thanks for the heads up.  Just released the fix for that error.  use version 1.0.9

[2016-12-20 00:26] viniciusdacal opened #4 "raw value"
First of all, thank you for this component.
I would like to know if there is a way to get the raw value, as a float number, as in the example:
"$ 1.30" => 1.30

Maybe we could receive this value as the second parameter in the onChange callback function.

[2016-12-20 01:11] jsillitoe commented on #4
The underlying raw value is really just a string of digits,  so I think it is probably out of scope for this component to try and convert that to a float.  I recommend just using the [Number.parseFloat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/parseFloat) function on the masked value (you may need to trim off the prefix and extra spaces if any).

[2016-12-20 01:23] viniciusdacal commented on #4
I see that point, It would be simple to convert american masked values with parseFloat, but we would get a different value for non american formats, such as `R$ 1.000,00`.

Mask is mainly useful as a visual thing, I think it would be useful receiving a raw value inside the callback

There is already a logic to get the raw value, inside the function `mask`. My ideia is to reuse this logic.
I will t

[2016-12-20 01:33] jsillitoe commented on #4
Sounds good to me, Thank you!

[2016-12-27 20:56] #4 closed

[2017-01-11 04:23] igorsantos07 opened #7 "inputType=number is troublesome with any mask"
If the developer enables any mask-related feature - such as prefix, suffix or separators - an input `type=number` or `tel` would trigger errors, because most of those characters would be invalid in such input types.

If that option is really to be used, at least disclose in the documentation/README that it should not be used together with mask-related attributes.

![screenshot_010](https://cloud.g

[2017-01-11 06:40] igorsantos07 opened #9 "Non-standard conversion from given value into displayed value"
If a string (or a number, when it works (#6)) is given as `value` with not enough decimals when a said precision is needed, some integers are turned into decimals.

Example: `<CurrencyInput value="6300" precision="2"/>` yields a field like `[63.00]` instead of `[6300.00]`.

An easy way to avoid that when receiving numbers is as follows, but string values would require manual work:
[code]

[2017-01-11 17:33] jsillitoe commented on #7
Agreed.  I'll add a note to the README

[2017-02-10 21:13] ziveo opened #10 "IE 11 issue"
When using component in IE 11 app can't be loaded.

I am getting following error message:

<img width="465" alt="screen shot 2017-02-10 at 4 12 07 pm" src="https://cloud.githubusercontent.com/assets/855512/22844342/c8cc11a8-efab-11e6-8977-6be2b1867019.png">

[2017-02-11 09:28] jsillitoe commented on #10
Thank you for the report.  It makes use of the [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign) function to pass on properties to the actual input element.  Support is not universal, but I am a bit reluctant to add a polyfill since individual projects may want to implement their polyfills in different ways.

There are a few node module

[2017-02-13 06:18] jsillitoe commented on #9
This issue should now be fixed in the latest release (also published to npmjs.com).  Thank you for this bug report and the sample code!

I decided it would be appropriate to coerce string values (using parseFloat) into numbers then passing them through the toLocaleString function.  A number of unit tests were added for this, including the example you presented, so thank you again.

[2017-02-13 06:18] #9 closed

[2017-02-13 07:24] jsillitoe commented on #10
After more though, i decided to get rid of the Object.assign and use a more generic way to clone the props.  This issue should be fixed for versions 1.2.2 and up.  No need for other modules or libraries.

[2017-02-13 07:24] #10 closed

[2017-02-13 15:56] ziveo commented on #10
Excellent job Joe.
Thank you for your effort in fixing this issue.

[2017-02-15 13:39] KuzinVadym opened #11 "Unable to edit input when prefix is added"
when you specify prefix for example "$", CurrencyInput not working and onChange action give you always last 1 character and  if you didn't use prefix field at all, CurrencyInput working normal
I use react and react-dom  "^15.4.2",

[2017-02-15 21:53] jsillitoe commented on #11
The last release I published a couple days ago introduced a pretty serious bug that basically broke everything.  My apologies!  I've published a new release v1.2.3 that should fix it.  As always, included in the release is a number of new unit tests.  Thank you submitting this issue!

[2017-02-15 21:53] #11 closed

[2017-02-17 16:59] tegon opened #12 "Function custom props don't get applied to input"
I use this component with an `onKeyUp` event to trigger an API request. This used to work, but it stopped after this commit: https://github.com/jsillitoe/react-currency-input/commit/94e30dd49d8fa3ec8ceb07014d70bb9b2c45f93f.
This happens because `JSON.stringify` cannot serialize functions.
I understand this was a patch to support older environments, but is also broken for other keyboard events.
I s

[2017-02-17 18:44] jsillitoe commented on #12
I have to admit, I was not exactly thrilled with using the `JSON.stringify` function, but it didn't occur to me that other devs were attaching functions.  I had to include the stage-3 presets from babel but I've gone ahead and switched to the spread operator.  Behind the scenes it uses Object.assign and includes a polyfill.  Sorry for breaking the component for you, but version 1.2.4 should now re

[2017-02-17 18:44] #12 closed

[2017-02-17 19:21] tegon commented on #12
No problem, thank you for the quick fix!
Here is my website: https://www.neocambio.com.br/dolar/sp/sao-paulo?deadline=1
You can type the amount of dollars in the input, and when you're done - onKeyUp - an API request is sent to update the prices.

[2017-02-17 19:31] jsillitoe commented on #12
That's awesome!  Thank you for sharing.

[2017-03-02 17:46] tiago-pereira opened #14 "Return negative number as raw value when numberIsNegative"
The raw value passed to `onChange(masked, raw, event)` ignores negative values.

[code]

![image](https://cloud.githubusercontent.com/assets/13859128/23519663/803aadea-ff56-11e6-9026-e1eff8f3ee71.png)

Shouldn't we return the negative raw value instead?

[2017-03-03 17:32] igorsantos07 commented on #7
Done already :)

[2017-03-03 17:32] #7 closed

[2017-03-03 17:34] igorsantos07 opened #16 "Backspace is troublesome with suffixes"
1. add a field with a suffix
2. focus it and type away. All good.
3. go to the next field or whatnot
4. get back to it, click the end of the input, and try to backspace it
5. :boom: you can't backspace because the suffix is unremovable. It should, actually, backspace the last digit on the mask.

[2017-03-03 18:27] jsillitoe commented on #14
Yes it should.  Thank you for the pull request!

[2017-03-03 18:29] jsillitoe commented on #16
Good catch,  I'll look into a fix over the weekend.

[2017-03-03 18:29] #14 closed

[2017-03-03 18:35] jsillitoe commented on #14
I applied and published your patch.  It is release in version 1.2.5

[2017-03-04 02:01] igorsantos07 commented on #16
That was my client catch, not mine! I'm so used to masks being troublesome that this issue just slipped over my reviews hahah
Thanks for the quick response, sir :)

[2017-03-06 18:58] richi1717 opened #17 "digits larger than 16"
This is a pretty nice project that you have but I noticed that if you enter more than 16 digits it starts to act extremely weird.  I.e. if you do it with the prefix '$' and the value of 12345678901234.56 and then go to add a 7 the number instead is now 123456789012346.00.  The behavior is odd.

[2017-03-06 23:26] jsillitoe commented on #17
Thank you.  Just out of curiosity, do you have a particular use case where you need to support these large numbers?

[2017-03-08 09:36] florianbepunkt opened #18 "don't pass value directly to onChange (to be on par with React's default input handling)"
By default React passes an event to onChange function – so you can access the value via event.target.value. Would be nice if this component would follow the same pattern. When you have larger forms it helps to keep code nice and clean if you don't need seperate handlers for every component.

[2017-03-08 13:49] florianbepunkt commented on #18
#19 PR

[2017-03-08 19:27] jsillitoe commented on #16
I've spent a little time on this, and would like your opinion on something.  Not only is the bug you describe happening, there is a related scenario where if you change a digit somewhere else in the field, the cursor jumps to the end.

To solve these issues, I'm thinking of adding code that would force the cursor to always remain after the last digit and before any suffix.   Alternatively, it coul

[2017-03-08 19:31] jsillitoe commented on #18
I agree with you however, this would break existing implementations.  When we are ready to do another major release i'll include this.  Thank you for the report and the patch!

[2017-03-09 15:26] igorsantos07 commented on #16
- on the cursor position: what makes the most sense to me is to avoid the
cursor to be placed after the suffix, as if the suffix didn't make part of
the input. Forcing it to stay in a fixed place doesn't feel right, as
you'll be reducing the user's possibilities. And I'm not sure it's needed
to store the cursor position? Might just be my outside view, tho.
- Selections: doesn't seem like an issue

[2017-03-15 11:34] florianbepunkt opened #20 "negative values input order... enter - before value"
When entering negative values I would say user exspectation is that you first enter - and then the number. This seems not to be possible right now or I'm missing something. You first have to enter a number and after that you can add the -

[2017-03-16 18:48] jsillitoe commented on #16
I think I've made progress on this, but I'm not sure it's perfect.  Any chance you can download and check out the examples.  Let me know if this will work for you and your client.  If so, I'll publish the release to npmjs.

[2017-03-16 18:48] jsillitoe commented on #20
That does seem problematic.  Thank you for the report!

[2017-03-20 21:22] sidmitra opened #22 "Usage with redux-forms"
I'm trying to use this component with redux-forms. I've gotten the following snippet below.

[code]
This does seem to render the input text correctly and even renders the initial values passed to it correctly. But on saving the form the value sent to the backend includes all the formatting(i.e. the masked value). What is the preferred way to use this with redux-forms. Perhaps an example of the sam

[2017-03-23 00:38] prule commented on #16
Hi, I'm interested in a fix for this bug too. I tried the example, and noticed a few strange things:

* If you focus 'example 1' and type in 4 numbers, eg '11.11' it then selects the first 4 characters eg '11.1' instead of the full number '11.11' - if you then move out of the text input and come back, it seems to work correctly (reload the page and it'll fail again)

* In these examples the inputs

[2017-04-05 07:28] igorsantos07 opened #23 "Trouble with Synthetic Events"
For no apparent (?) reason I started seeing warnings/errors in my console referring to this doc page: [Event Pooling](https://facebook.github.io/react/docs/events.html#event-pooling). That happened because I was using `e.target.name` to define which property of my object I should update, but it started to fail. I work-arounded that using a function that returns a function, scoping the field name i

[2017-04-05 07:42] igorsantos07 commented on #16
I can see you made some work on this, but it still doesn't quite solve the issues on dealing with a suffix. See if the following gif helps understanding its behavior: backspace after the suffix does nothing, and now it jumps to the end of text whenever I change the actual numbers. It's very easy to stay after the suffix as it's the "clear area" on the field and "safer" to click with the mouse.

![

[2017-04-08 08:14] indapublic commented on #18
+1, Need this for using in redux form

[2017-04-12 21:27] lothisoft commented on #22
@sidmitra
In the redux-form onSubmit() handler, you can turn the currency formatted string into a number by removing all undesirable characters:
e.g.

[code]

[2017-04-20 06:18] igorsantos07 opened #25 "Weird cursor behavior on Android Chrome"
When testing my app on (real) mobile phones I noticed the cursor jumps somewhere in the beginning of the string when there are few digits to be formatted.
I saw this in two Android 6.0.1 devices (Sony Z3 Compact, Nexus 5), both running Chrome 57.
On the Sony it happens with SwiftKey and the Xperia Keyboard (default one), but not with the Hacker's Keyboard. On the Nexus the same behavior happened (

[2017-04-23 15:43] dubielzyk opened #26 "React.createClass becoming deprecated"
`CurrencyInput: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.`

I also get this (though I'm not sure if that's the same):
`Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

[2017-04-27 22:47] bad6e commented on #26
They are both related.

`import PropTypes from 'prop-types'`
and then drop the `React` in front of the `propTypes`

[code]

[2017-05-02 00:35] dubielzyk commented on #26
As it's being deprecated, is there any plans to support this without the prop-types package?

[2017-05-04 00:41] wxqp opened #27 "input component on IE10 fails with parseFloat function"
in code line 89, file src/index.js

`initialValue = Number.parseFloat(initialValue);`

running on IE10, throw next error

![react](https://cloud.githubusercontent.com/assets/5313634/25687022/1cfb5b5c-3030-11e7-86f6-70288c9c0f59.PNG)
![react2](https://cloud.githubusercontent.com/assets/5313634/25687023/1cfd9d22-3030-11e7-97ee-d636c7383f55.PNG)

this, doesn't happen on chrome, firefox, edge.

this w

[2017-05-08 03:43] ErwinLee10 opened #28 "value is not a controlled input ?"
currently I would like to have a maximum value for my input. As currently we don't support max and min, the work around is to prevent the value to be changed in setState if value > maximumValue.

But, the displayed value is still changed Although the value in state is not changed.

[2017-05-31 07:29] zhuangya commented on #27
IE* does not support parseFloat: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/parseFloat

i think i can send a PR to add polyfill for this

[2017-05-31 17:21] miketeix commented on #25
👍 +1

[2017-05-31 20:53] ddhhz opened #32 "Add `tabindex`"
We have a SPA with multipage inputs (one on each page). Lack of tabindex="-1" resulted in users being able to go between pages in mobile safari without any other interactions besides tabbing along.

`tabindex` attribute would be a nice to have  : )

Thank you!

[2017-05-31 20:59] ddhhz commented on #32
Nvm, `customProps` is supported. Added tabIndex="-1" and it worked.

[2017-05-31 20:59] #32 closed

[2017-06-04 14:22] josefheld commented on #18
+1

[2017-06-15 12:38] viniciusdacal opened #33 "providing initial value as the integer 0, doesn't show any mask"
If you provide the initial value as the integer 0, it should show the expected mask
0 => "$0.00".

I noticed we have tests covering the case for the string "0" but not for the integer.
I can open a pull request fixing that.

[2017-06-20 18:38] #27 closed

[2017-06-20 20:15] jsillitoe commented on #33
Good catch,  Just added the fix and will include in the next release.

[2017-06-20 20:15] #33 closed

[2017-06-20 20:17] jsillitoe commented on #26
I've added in the updates for react v15.  Thanks zhuangya!

[2017-06-20 20:17] #26 closed

[2017-06-20 20:20] jsillitoe commented on #23
Added.  Thanks!

[2017-06-20 20:20] #23 closed

[2017-06-20 20:21] viniciusdacal commented on #33
@jsillitoe would be great to have an option for that as well. I mean, in some cases people rely on that behaviour.

I had a case recently, the initial values were 0, but the input should show the placeholder with the text `minValue is ...` instead of the mask. Weird situations, but worth having an option like `displayZero: bool` or any better name.

[2017-06-20 20:33] jsillitoe commented on #33
Sounds like it is worth a look, please open a new issue and I'll see what that would take.

[2017-06-21 21:05] jsillitoe commented on #18
New with version 1.3.0,  instead of using the onChange callback, use onChangeEvent.  The signature for the new function looks like onChangeEvent(event, maskedvalue, floatvalue).  Hopefully this works for your use case.

[2017-06-21 21:05] #18 closed

[2017-06-21 21:06] jsillitoe commented on #22
@sidmitra New with version 1.3.0, instead of using the onChange callback, use onChangeEvent. The signature for the new function looks like onChangeEvent(event, maskedvalue, floatvalue). Hopefully this works for your use case.

[2017-06-21 21:06] #22 closed

[2017-06-29 00:46] aesopwolf opened #36 "Uncaught TypeError: Cannot read property 'theInput' of null"
@jsillitoe Have you seen this before?

![image](https://user-images.githubusercontent.com/6847633/27666595-a8540148-5c29-11e7-9a55-fdb7faa0c791.png)

[2017-06-29 00:47] aesopwolf commented on #36
It doesn't happen until I focus on the input element.

And it seems "Cannot record touch end without a touch start." happens when I click just about anywhere on the page.

[2017-06-29 20:49] #36 closed

[2017-07-03 17:21] wellyal opened #38 "Value is restarting after the fourth digit"
This behavior is happening:

![jul-03-2017 14-23-25](https://user-images.githubusercontent.com/3047016/27802612-40572d42-5ffb-11e7-8347-4f5d66d72b19.gif)

[code]
Troubleshooting helper -> console log from react-currency-input/lib/index.js:231
version -> 1.2.6
Google Chrome -> Version 59.0.3071.115 (Official Build) (64-bit)

[2017-07-03 17:44] wellyal commented on #38
UPDATE: I have updated my currency lib to the final realease (1.3.2), still having the same issue. When reachs the fouth digit the whole number is being selected causing it to erase all the value when I press the next number.

[2017-07-04 20:51] bdox commented on #38
Yeah,  this is definitely happening. I updated from 1.2.6 and found this during regression. I also noticed that there was a breaking change for initialValue that I will fix in a PR.

I haven't been able to find exactly what changed, due to the strange branching/release strategy used in this repo, but the code that is doing the selection is in the componentDidUpdate event.

[2017-07-05 21:50] guilatrova commented on #17
Got same issue here. I don't need such great number, but it would be good to set a maxlength then user can't type too much numbers and trigger this odd behavior.

[2017-07-05 21:52] richi1717 commented on #17
sorry I never saw you responded.  No I didn't need such a large number but still thought it was odd that it would do that.

[2017-07-06 12:50] bdox commented on #38
I found this fork which has updated the selection code, hoping he will PR that back in.

https://github.com/tncalvert/react-currency-input/tree/selection_changes

[2017-07-07 05:44] tcg commented on #38
Came here to possibly report this, but I see you all beat me to it. I'm not new to web dev, but newish to modern JS/React, so not able to provide a PR/fix. Thanks @bdox for the suggested fork/branch. I will try that out in the mean time.

[2017-07-10 15:20] hughlomas opened #39 "infinite loop of "handleFocus" on mobile safari, crashes"
Hey, sorry I don't have more details but had to rollback to from 1.3.2 to 1.2.6 this morning (last known working version). 1.3.2 was causing an infinite loop somewhere in the "handleFocus" function, but only on iphones. It might have been when unfocusing (blurring) the input but I didn't check exactly.

[2017-07-12 10:24] adamshone opened #40 "console.log in handleFocus"
Here:

https://github.com/jsillitoe/react-currency-input/blob/master/src/index.js#L193

[2017-07-18 21:45] #40 closed

[2017-07-27 21:39] l3iodeez opened #42 "Getting error message when using number input"
I am getting the following error when trying to use a numeric input.

[code]

My component call looks like this:
[code]

Any ideas?

[2017-07-31 18:44] aesopwolf commented on #42
This is interesting since you're not defining `inputType`. Can you post a small repo that reproduces the error? That would help me debug this.

[2017-07-31 18:45] aesopwolf commented on #39
If you could provide a repo that reproduces this issue that would help me debug it

[2017-08-07 21:41] #38 closed

[2017-08-09 13:25] norbajunior commented on #39
I'm having a similar problem. When I start to type in an input then the cursor jumps into the currency input.

[2017-08-09 17:13] aesopwolf commented on #39
@norbajunior what version are you using?

[2017-08-10 12:16] norbajunior commented on #39
@aesopwolf the last one,  1.3.4.

[2017-08-10 14:11] musashinm opened #44 "Problem with handleFocus"
We're a facing a problem when the component is mounting and it triggers autofocus, on file `lib/index.js:210`

[code]

It's causing the following error:

[code]

[2017-08-10 20:27] aesopwolf commented on #44
Can you provide some sample code to reproduce this?

[2017-08-10 20:28] aesopwolf commented on #39
@norbajunior do you have any sample code you can provide to help reproduce this?

[2017-08-14 20:16] norbajunior commented on #39
@aesopwolf Sorry for the delay. I have this one https://github.com/norbajunior/currency-input/blob/master/src/App.js

Just an input text and the currency input.

Hope you can help. Thank you

[2017-08-15 15:48] l3iodeez commented on #39
+1

I had this issue occur on Safari 10.1.2 desktop on Yosemite 10.10.5.

I would get an infinite loop that would crash the browser when using the latest version. Downgrading to 1.2.6 as suggested in the original post fixed the issue.

[2017-08-15 17:55] musashinm commented on #44
[code]

Where `props.input.onChange` is from Redux Form and `handleOnChange` clean up the masked value to store in Redux Form.

The scenario is:

1. The component is mounted as plain text
2. User clicks on a edit button
3. The component is mounted as CurrencyInput with `autoFocus`

At this point the error described occurs on Console.

[2017-08-16 15:05] norbajunior commented on #39
Downgrading to 1.2.6 solved for me too

[2017-08-30 14:33] nanocreaator opened #46 "Material-UI + CurrencyInput"
Hi!
I am facing a problem when using currency input with material-ui lib.
Have a look at the code:

<img width="545" alt="captura de tela 2017-08-30 as 16 28 24" src="https://user-images.githubusercontent.com/3308721/29877619-68939e58-8da0-11e7-8e7c-c30eb957211f.png">

Below this part I have others fields in the form.
However, I am not able to fill any other element in the form because the focus a

[2017-08-30 20:10] sec0ndhand commented on #20
@jsillitoe If I make a pull request to fix this using the state object, would it be rejected?

[2017-08-31 00:29] aesopwolf commented on #20
@sec0ndhand we'll gladly accept a PR for this!

[2017-09-07 08:19] sillybutt0 opened #47 "Add prop to disable selecting all text in field on focus"
In case if user wants to add digit to input, he has to click twice on it, because first click(focus) selects whole text, which is not really UX-good.

The solution (line **213**, **handleFocus** function):
[code]

[2017-09-08 14:53] tgoldenberg opened #49 "how to trigger focus() on <CurrencyInput />"
I would like to trigger the focus() event on the <CurrencyInput /> when a button is pressed. However, I'm not sure how to do so.

When I use `ref={el => this.input = el}`, I don't get access to the component.

Can we expose a way to add a `ref` to the component so that we can call `focus()` and other triggers? Thank you.

[2017-09-13 17:47] anuroop15 commented on #46
+1

[2017-09-20 20:38] tgoldenberg opened #50 "Does Not Work with Safari"
If you have multiple inputs, the last one is focused and will not unfocus on Safari (both mobile and web)

Tried many different things, but unable to get anything to work. Any suggestions?

[2017-09-22 19:34] Dianna commented on #39
Heads up, 1.2.6 uses `Number.parseFloat` so it will not work on IE.

[2017-09-25 16:20] tgoldenberg opened #51 "How to right-align cursor on focus"
I have an Input that is rendering with `autoFocus=true`. I would like the cursor to appear to the right of the value `0`, but instead it appears at the left. This means that when a user inputs a `1`, the value becomes `10` instead of `1`. If the cursor could be positioned to the right of the initial `0`, this could be avoided.

Any suggestions? Thank you.

[2017-09-25 21:06] pylis commented on #50
The same issue. Could you please fix that?

[2017-09-25 21:45] tgoldenberg commented on #50
I forked the code and removed the `componentDidMount` and `componentWillUpdate` and `componentDidUpdate` functions. That did the trick

[2017-09-25 21:45] tgoldenberg commented on #51
Workaround is to set `allowEmptry=true` so that the user can make the first input. Would still be nice to have starting input of `0` and cursor to the right, though.

[2017-09-27 19:40] bad6e opened #52 "Upgrade to handle React 16"
Upgrade propTypes and createClass

[2017-09-28 07:54] theanchorsmith commented on #50
Just want to say I have the same issue over here

[2017-09-28 21:43] nossila commented on #50
I'm also experiencing the same issue

[2017-10-14 04:14] khoshbin opened #54 "Big size"
Hi , it seems that it adds about 600KB to bundle , is it by purpose?

[2017-10-16 17:29] #52 closed

[2017-10-17 19:35] malbernaz opened #55 "React and it's packages are installed as normal dependencies rather then peer."
How to reproduce:

[code]

There are two problems here:
- the first is that React and it's packages (`react-dom` and `prop-types`) should be installed as peer dependencies rather than normal ones. I'm having a problem in which a project I'm working on have two conflicting versions of `react`.
- the second one is that at the current time the npm package is not in sync with this repo - which is what

[2017-10-20 11:18] darianjug commented on #50
I'm also having the same issue

[2017-10-24 20:53] albertkim commented on #50
It looks like it's not just Safari, it's iOS in general? I experience this with Chrome on my iPad as well (probably because they both use Webkit?). I haven't found a solution to this yet, so I'm considering writing my own or switching libraries.

[2017-10-27 18:31] bkoltai commented on #50
I was having this problem as well. I ended up fixing it by commenting out
[code]
in [`componentDidMount`](https://github.com/jsillitoe/react-currency-input/blob/15362dca6731bea42bb0158701c624b672a8f293/src/index.js#L123) and [`componentDidUpdate`](https://github.com/jsillitoe/react-currency-input/blob/15362dca6731bea42bb0158701c624b672a8f293/src/index.js#L174). This fixes the issue and doesn't see

[2017-11-07 23:06] vhfmag opened #58 "Component isn't compatible with React 16"
I've been searching for a good currency input for React and that's the best I've found in a while. I started using it at some projects and had a great experience, but I couldn't use it recently since that specific project is using React 16.

Is there any interest of the community to do so? What would be needed? I could help if there is demand :)

[2017-11-08 14:09] vhfmag commented on #58
It was actually an issue with yarn locking the package's React version to 15.6.0. Fixed it by editing the yarn.lock directly.

[2017-11-08 14:09] #58 closed

[2017-11-10 13:04] navarroaxel commented on #55
Hi @jsillitoe, could you release a new version of this package to npm with the latest commits on master? Because this issue is fixed, but this is not available as a npm published version.

[2017-11-13 16:54] tierfour opened #59 "Add "className" to props to add custom styling"
Maybe there's a way to do this with the refs but it would by much easier if there was a className prop to allow adding a custom class. How else is everyone styling their inputs?

[2017-11-13 16:58] #59 closed

[2017-11-30 16:33] francisrod01 opened #60 "Uncaught TypeError: this.updater.enqueueCallback is not a function at CurrencyInput"
My implementation is below:

App.js

[code]

MyComponent.js

[code]

and the output was:

[code]

What's happening?

[2017-12-06 13:15] bvanderdrift commented on #60
The project does not support React16 yet, which I guess you are running. You can check this with `npm ls react`. Due to a version mismatch this error gets thrown as in https://github.com/facebook/react/issues/10320.

[2017-12-06 13:21] bvanderdrift commented on #55
Still running into problems, as do other users https://github.com/jsillitoe/react-currency-input/issues/60.

[2017-12-06 13:22] bvanderdrift commented on #60
Seems they have already fixed the issue in https://github.com/jsillitoe/react-currency-input/pull/56 but not published it to npm yet.

[2017-12-08 14:09] slavakisel opened #61 "Selection is wrong when precision is 0"
![](https://d26dzxoao6i3hh.cloudfront.net/items/3r3a41363L0B343Y1O1i/Screen%20Recording%202017-12-08%20at%2007.08%20PM.gif?v=3c740616)

I'll create a PR with fix in a few minutes

[2017-12-09 15:06] malbernaz opened #64 "bump version and republish package"
this package wasn't republished since the last changes.

[2018-01-04 12:32] acomito commented on #50
Has anyone put in a pull request or does a solid fork exist?

[2018-01-04 17:23] leonardo031195 commented on #60
+1

[2018-01-05 20:53] mikdatdogru commented on #60
+1

[2018-01-07 19:09] albertkim commented on #50
@acomito I wrote my own component that works for my needs - it's not production ready because it can't be configured with different currencies, formatting options, etc. but all I needed was the $ and the thousands , separator.

[2018-01-10 01:46] hermesnetto commented on #60
+1

[2018-01-10 17:58] dimoreira commented on #60
+1

[2018-01-12 17:27] dankirlin commented on #60
+1

[2018-01-12 17:34] dankirlin commented on #64
Are there any plans to republish this in the immediate future? It seems this comment was from over a month ago and this package hasn't been published in 5 months.

[2018-01-15 21:42] savacristian commented on #60
+1

[2018-01-24 19:31] wellmonge opened #65 "onChange event does not work."
Anyone face this problem, with simple  code as present at Readme onChangeEvent does not trigger
onChange event?

`
handleChange` = (event, value, maskedValue) => {
    this.setState({ amount: value })
  }

  render() {
    const { amount } = this.state

    return (
      <CurrencyInput value={amount} onChange={this.handleChange} />
    )
  }
`

[2018-01-26 19:42] selected-pixel-jameson commented on #60
+1

[2018-01-26 19:45] selected-pixel-jameson commented on #64
+1

[2018-01-30 14:31] acomito commented on #50
@albertkim The package has 1,288 downloads in the last day, are people just not supporting safari or are 1,288 people all editing the node_modules folder?

[2018-02-01 16:10] dankirlin commented on #64
Is there any update on this?

[2018-02-05 19:08] b-lawrence commented on #50
👍

[2018-02-05 19:08] b-lawrence commented on #50
+1

[2018-02-06 03:40] sebastianrjay commented on #60
+1

[2018-02-06 17:15] cavaloni commented on #49
Any update to this? @tgoldenberg did you ever find a solution?

[2018-02-06 19:37] #61 closed

[2018-02-06 19:47] jsillitoe commented on #64
Sorry everyone.  Been distracted with other things.  I just published and update.  now version 1.3.5

[2018-02-06 19:47] #64 closed

[2018-02-06 19:48] jsillitoe commented on #60
Published the fix.  Should work now.

[2018-02-06 19:48] #60 closed

[2018-02-06 19:48] jsillitoe commented on #55
Updated.

[2018-02-06 19:48] #55 closed

[2018-02-09 18:36] nkohirkar commented on #65
I am seeing the same issue. Can someone please take a look at this?

[2018-02-19 00:09] acomito commented on #39
@norbajunior @l3iodeez did you ever move to another lib or is everything working alright at 1.2.6?

This is also mentioned here: https://github.com/jsillitoe/react-currency-input/issues/50

[2018-03-13 16:16] acomito commented on #39
downgrading to 1.2.6 and still seeing an issue in safari unfortunatley

[2018-03-13 20:50] jhasselgren opened #66 "Not compatible with NPM 3"
`
"peerDependencies": {
    "prop-types": "^16.0.0",
    "react": "^16.0.0",
    "react-dom": "^16.0.0"
  }
`

Should also be added as dependencies (https://codingwithspike.wordpress.com/2016/01/21/dealing-with-the-deprecation-of-peerdependencies-in-npm-3/)

[2018-03-13 21:02] jhasselgren opened #67 "Negative value do not work for some locale"
Hi,

I have a problem where the state is not calculated correct for negative values

![image](https://user-images.githubusercontent.com/6568907/37369640-fc52e5ce-2709-11e8-9a16-9d394cf0778b.png)

I have found that it is the following code in index.js that is the problem

[code]

The minus sign is change to "−" (‎2212  MINUS SIGN) instead of "-" (‎002D  HYPHEN-MINUS)

This result in that the logic

[2018-03-14 18:46] acomito commented on #65
onChangeEvent is the new event to use. But that's in the latest version, which doesn't work in safari. So if you downgrade to 1.2.6, you can get this working in safari-- but then you need to use onChange.

[2018-03-23 21:15] wellyal opened #70 "Starts input with no value"
It is possible to show the value only when user starts to change the value, even when the value didnt change the value is starting with 00,00
![image](https://user-images.githubusercontent.com/3047016/37853512-cb8e582e-2ec5-11e8-89f5-3352bf8c338b.png)

[2018-03-23 23:11] wellyal commented on #17
Any updates?

[2018-03-27 14:05] wkerswell-gresham commented on #46
@nanocreaator or @anuroop15 did you guys work out a fix in the end?

[2018-03-27 17:01] joeyparis commented on #49
@cavaloni you can access the actual element like this:

`ref={el => this.currencyInput = el}` and then later reference the actual input via `theInput` property. e.g. `this.currencyInput.theInput.focus()`. I wasn't able to reference `theInput` in the actual ref callback because sometimes `el` was null. Perhaps you could do a truthy check but I didn't test that myself

[2018-03-28 16:14] zthornto commented on #50
Is there a reason @bkoltai's fix isn't being merged in? Would be great to get this working.....great package, but I don't understand how anyone is actually using it without Safari support.

[2018-03-29 16:15] anuroop15 commented on #46
nope @wkerswell-gresham

[2018-04-12 18:52] dinkzilla opened #72 "PropTypes Peer Dependency"
In the package file you list a peer dependency of:

`"prop-types": "^16.0.0",`

But the current highest version of [prop-types is 15.6.1](https://www.npmjs.com/package/prop-types).

Npm throws errors as a result when adding your package.

[2018-04-12 19:16] dinkzilla opened #73 "Typing jumps around"
Typing in the input field seems to alternate as I type between the front and the end of the input.

If I type "123456789" into a box with a value of "$0" in it without moving my cursor or hitting any other buttons, the displayed value is "$9,876,543,102".

If I delete the value completely and then type the same string I get "$987,654,213"

Obviously I have a prefix of '$' and a precision of '0' in

[2018-04-24 19:30] menezee opened #74 "Focus in Safari"
Using version 1.3.6 with React 16.3.2 in Safari, the field starts autofocused. I need it to follow the tabIndex as well, but everytime I type it tries to focus back in the CurrencyInput component.

Any thoughts?

[2018-04-25 04:14] koswarabilly opened #75 "React native compatibility?"
try to install it and use it in react native but it give me this error

`Error: Unable to resolve module `react-dom``

[2018-05-01 19:55] havivian opened #76 "Test framework shouldn't be included as dev dependency"
The `package.json` currently lists `sinon` as a dev dependency, requiring the entire framework to be installed as a part of installing `react-currency-input`

[2018-05-04 04:38] ericblade commented on #76
... i think that's the purpose of dev dependencies.  From npm docs: With the --production flag (or when the NODE_ENV environment variable is set to production), npm will not install modules listed in devDependencies.

At least, I've never heard of not putting the requirements to test inside the dev dependencies.  Is that the norm somewhere? I'd like to hear about that.

[2018-05-04 04:43] ericblade commented on #25
Android 8.1 seems to be incompatible, cursor always picks wrong place to be.  I think I'm going to have to end up rolling my own. :-S

[2018-05-20 18:41] p3ym4n commented on #75
any updates ?

[2018-05-25 03:19] anthonylebrun commented on #50
+1. Please merge the fix!

[2018-06-05 13:40] kentastudillo commented on #73
I am having the same issue.

[2018-06-15 19:23] romarioraffington opened #79 "Option to make the field a required field"
I think it would be good to have an option to make it so the input can be `required`

[2018-07-02 16:08] agusgar commented on #72
Have this same issue. Are you planning to fix this?

[2018-07-25 14:08] jsharpe commented on #76
I think what was meant was dependency rather than dev dependency. PR #80 corrects this.

[2018-07-25 14:21] jsharpe commented on #72
My PR #80 resolves this issue.

[2018-07-25 14:37] ericblade commented on #25
... followup: Android cursor positioning seems to always be really off.  I haven't tried multiple keyboards, just the stock Android, on 5.x, 6.x, and 8.x.

[2018-08-21 13:18] dturakhia commented on #74
+1 Facing similar issues on Safari

[2018-08-28 01:59] #74 closed

[2018-08-28 02:00] #72 closed

[2018-08-28 02:00] #76 closed

[2018-09-05 09:57] SpawnAtis commented on #70
Is it posiible to show placeholder when initial value is null?
`<CurrencyInput placeholder="text" precision={0} />`
![image](https://user-images.githubusercontent.com/23311140/45086441-d0c30b00-b10b-11e8-9514-85e1b3e65759.png)

[2018-09-06 16:22] ncampuzano commented on #75
Did you find other option to currency input for react native ? It plugin appear only to react.

[2018-09-11 16:35] felixmeziere opened #82 "Please publish the latest changes on master"
I badly need the Safari focus fixes, could you please deploy the latest commits in `master` to npm?

Thanks!

[2018-09-12 18:40] gask commented on #50
MERGE THE FIX!!!!

[2018-10-05 15:44] wellyal opened #84 "React complaining about PascalCase props"
`<CurrencyInput />` is using incorrect casing. Use PascalCase for React components, or lowercase for HTML elements.

[2018-10-07 22:38] acomito commented on #50
Please merge

[2018-10-12 23:29] hanssl commented on #50
Merge please.

[2018-11-11 18:49] hellobrunao commented on #50
Same issue here... :(

[2018-11-11 18:50] acomito commented on #50
@brunocsousa the library is really small. I think I just copy-pasted it into my project as a custom component. Then you need to change a line or two (see this thread of course). It's been working since then.

[2018-11-12 17:22] hellobrunao commented on #50
hey @acomito ... yeah, I just wanted to add +1 to the thread, and maybe the author of this wonderful component can update it with the solution... =]

I did the @bkoltai small hack on commenting those lines... it worked like a charm!
Thank you guys.

[2018-12-05 17:43] #65 closed

[2019-01-03 03:58] jh4892 commented on #82
So still not published? What do we do now? Did someone else clone this and put it on npm? Would that be legal?

[2019-02-05 10:38] yairEO opened #87 "Demo page"
is it possible to put a demo page? just create one on codepen or jsbin, would do.

I don't want to go through all the long hassle of installing & importing & integrating a package without first playing with the code live

Thanks

[2019-02-05 10:47] yairEO commented on #87
I am unable (for some reason) to install the 14,236 dependencies you have for this react input.. Another reason where a link to a demo page will help

[2019-02-08 05:30] gustavopch opened #88 "Issue adding zero running on iOS 9 with Safari"
There's a bug in this lib when running on iOS 9 with Safari where if you have `0.03` in the input, pressing `0` with the cursor at the end doesn't get you `0.30`.

After hours looking into the source code, I've found the cause: `toLocaleString` is not supported by iOS 9. I had to `patch-package` the node module like this to make it work:

[code]

Hope it helps.

[2019-02-14 17:52] brunomartins-com commented on #44
Hey guys,

I am having a kind of focus problem, but only in a mobile version (I've tested in Safari and Chrome for iOS).

## See the video: https://youtu.be/fTpESlAdSFs

I have 3 <CurrencyInput> in the same page. The last one is highlighted since the page is opened. Every time I choose a different one above and hit a number, the code jumped focusing the last one.

[code]

[2019-03-20 13:35] giovanniKleinCampigoto commented on #16
I'm interested in this issue too, having the same problem here :/

[2019-03-20 20:15] Deboracgs opened #90 "auto focus false not working"
Auto focus false not working, when i click in other input, scrolling automaticaly to currencyInput, any solution ?

[https://media.giphy.com/media/1mssFMXlG3mORJt03j/giphy.gif](url)
[code]

[2019-04-02 21:18] Mathitos opened #91 "Precision={0} with suffix=",00" make the value passed on onChangeEvent wrong"
You can reproduce using
[code]

[2019-04-08 20:25] olivierbuffon commented on #50
Unfortunately the fixed proposed seems to only fix the issue on the Desktop version of Safari. The field seems unusable on an iOS mobile device :(

[2019-04-22 10:07] GOBIBE opened #92 "IE browser issue"
Tested Browser: Edge, IE, Chrome

In Edge and IE browser: On entering the first value in "particular TEXTBOX" the control (cursor) automatically goes to particular page Last "TEXTBOX"  - We can't able to calculate.

In chrome browser it's working properly.

[2019-05-07 01:37] peterblunden-egrowcery commented on #90
I'm seeing this issue too on safari iOS 12 (ipad). Seems to be something to do with `componentDidMount` and `componentDidUpdate` because if i override those methods then the problem goes away. Could it be this line causing the input to receive focus?
[code]

[2019-05-07 07:52] ranakhurram666 commented on #92
I am facing the same issue.

[2019-05-08 02:46] BrOrlandi opened #93 "Allow integer parsing"
When handling currency values in programming it's recommended to use integer values to avoid calculations and conversion mistakes due to the floating point problem.

So I want to discuss the possibility to have a prop called something like `parseAsInteger` so the value will be an integer, with the decimals multiplied by their precision.

So when the user input: **12,34** the value should be **1234

[2019-05-09 05:35] airtonix commented on #55
you still need to remove them from `dependencies`.

[2019-05-20 11:49] eseQ commented on #42
Hi, any solution?

[2019-05-20 11:58] eseQ commented on #42
[simple reproduce](https://codesandbox.io/s/currencyinputnumber-5pf8o?fontsize=14)

[2019-05-20 15:31] aesopwolf commented on #42
Thanks for the reproduction @eseQ. Unfortunately, I haven't used this project in quite some time. If you're able to open a pull request to fix the issue then I can approve it and merge it in, but I won't be able to spend the time to fix the issue myself.

[2019-05-21 06:32] eseQ commented on #42
@aesopwolf thanks for the answer. Maybe I can fix it later.

[2019-06-28 15:42] 0xicingdeath commented on #90
I am running into the same issue with using this component on Safari. However, overriding `componentDidMount` and `componentDidUpdate` didn't work for me. Still experiencing the same problem with the focus.

[2019-07-01 01:33] peterblunden-egrowcery commented on #90
Here's my override code that got it to work

[code]

[2019-07-23 14:22] bsell93 commented on #55
@jsillitoe this should be re-opened. Just added this package to my project and it added dozens of additional packages in my lock file. It looks like `devDependencies` are being added. Not sure if it's supposed to do that or not.

[2019-07-23 14:46] navarroaxel commented on #55
@bsell93 can you post the diff of your `package-lock.json` file?

[2019-07-23 14:55] bsell93 commented on #55
Of course! @navarroaxel
<details>
<summary>package-lock.json</summary>

[code]
</details>

<details>
<summary>package.json</summary>

[code]
</details>

[2019-07-23 17:13] navarroaxel commented on #55
The npm published version `react-currency-input@1.3.6` has this on the `package.json`:
[code]

These packages are included as `devDependencies` too. The `npm` don't install the `devDependencies` on `npm install <package>` but the `dependencies` (production) are required when you need to use a given package.

I don't know why this happens, because the `master` of this repo only has these packages a

[2019-07-23 17:36] bsell93 commented on #55
Are we able to change that?

Or rather it sounds like the package needs "redeployed" to npm?

[2019-07-23 17:38] navarroaxel commented on #55
@jsillitoe can publish a fixed version "1.3.7".

[2019-07-24 09:11] chandrathen28 commented on #92
I am facing the same issue.

[2019-07-25 18:00] Patrick-W-McMahon opened #95 "lacks name attribute for support with redux form"
i'm using this in redux form and don't see an easy way to add a name attribute to this currency input.

[2019-07-25 19:12] bsell93 commented on #55
@jsillitoe any motion here? Isn't that just running the `npm publish` cli? Because it looks like Github is correct 🤷‍♂

[2019-08-02 20:38] piyush-arora-quo commented on #50
is this issue fixed now or not?  i am experiencing this issue on safari desktop.

[2019-08-28 19:36] sureshsevarthi commented on #46
React currency formatter with Material Ui Textfield look and feel is available at https://www.npmjs.com/package/@unicef/material-ui-currency-textfield

This might solve your issue.

[2019-09-09 19:58] yuripinage commented on #50
Does anyone have a better solution?

[2019-09-18 19:44] ricardocanelas opened #96 "Warning message - React 16.9.0"
Version:

[code]

Warning message:

[code]

[2019-10-26 03:15] ybreezy commented on #74
Did anyone figure this out? It's driving me insane

[2019-12-04 21:09] efibe commented on #90
This broke the backspace key when there is a suffix enabled.

[2019-12-04 21:19] efibe commented on #90
This is fixed in #74 but still not published to npm

I made this small hack to get it working right now:

``let componentDidMount_super = CurrencyInput.prototype.componentDidMount;
CurrencyInput.prototype.componentDidMount = function() {
this.theInput.setSelectionRange_super = this.theInput.setSelectionRange;
    this.theInput.setSelectionRange = (start, end) => {
        if (document.activeElemen

[2019-12-13 13:33] andrew-aladev opened #99 "Problems with copy paste values"
We want to copy `100` into currency input - it becomes `1.00`, `100.00` becomes `100.00`, wrong behaviour. We need to protect user from removing `.` in another way. Currency input should use manual `onKey*` and `onPaste` events instead of just `onChange`.

[2019-12-16 12:51] cip123 opened #100 "Optional decimal separator?"
We would like to be able to input text in a simpler manner. Sometimes we just want to input  10 USD and it doesn't make sense to type `1` `0` `0` `0` for that.

If we would like to type 10.50 I would like to type exactly that, `1` `0` ` .` `5` `0` . Is there a way to achieve this by  tweaking the current settings ?

[2019-12-18 11:30] patricklongo1 opened #101 "dont work with hooks"
if u try use hooks.. its do not works.

Ex:
const [price, setPrice] = useState('');

<CurrencyInput
              decimalSeparator=","
              thousandSeparator="."
              prefix="R$ "
              onChangeEvent={(event, maskedvalue, floatvalue) =>
                setPrice(floatvalue)
              }
/>

the input keep reseting...
can someone try fix this?

[2019-12-18 15:17] colthreepv commented on #101
use also `value={price}`

Full example:
[code]

[2019-12-19 16:48] patricklongo1 commented on #101
Tks man! Its worked for me!

[2019-12-30 19:34] elja commented on #92
Facing the same issue.

Are you guys was able to fix that with some workaround?

[2020-01-13 20:24] nazarenooviedo commented on #101
Still not working for me, do you any comment? Thanks

[2020-01-14 15:36] patricklongo1 commented on #101
My full code for this lib: https://github.com/patricklongo1/gympoint-web/blob/master/src/pages/PlanRegister/index.js

@important:
import CurrencyInput from 'react-currency-input';
const [priceMonth, setPriceMonth] = useState('');

  function handleInput(floatvalue) {
    setPriceMonth(floatvalue);
  }

return (
   < div >
            < span >PREÇO MENSAL< /span >
            < CurrencyInput

[2020-01-15 12:44] Nileshdcool commented on #92
Any update on this. This is critical for me.

[2020-01-16 15:06] nazarenooviedo commented on #101
Thank so much!, I will try it 👍

[2020-01-25 18:23] gastonfartek opened #102 "Is this package still being maintained?"
seems like the last commit was ~2years ago and a lot of PRs/issues open ?

[2020-02-11 23:57] mac-s-g commented on #102
good question, it looks like dependencies are pretty outdated.
can anyone recommend a similar library or component that's being actively maintained?

[2020-05-04 20:00] moaaz-bhnas commented on #102
I guess this https://www.npmjs.com/package/react-currency-input-field

[2020-05-07 16:32] #102 closed, assigned to nobody

[2020-06-19 15:26] banksdev commented on #70
A `placeholder` prop would be really neat.

[2020-07-08 17:54] whcherng commented on #92
https://github.com/jsillitoe/react-currency-input/issues/90#issuecomment-507086811

In case anyone still facing this issue, the solution in the link works for me.

[2020-07-10 20:41] mtsalcova commented on #28
#78 someone created that PR.. i'm waiting a merge  :/

[2020-07-13 16:13] Nishaanthan opened #104 "Please add minimum and maximum value constraints"

[2020-07-20 14:16] vanillajonathan commented on #87
Here is an unofficial one:

https://codesandbox.io/s/xenodochial-frost-boezb?file=/src/App.js

[2021-04-21 23:24] ItsShadowl commented on #17
the big numbers was an issue with parseFloat, Number and parseInt in Javascript....

Only using Big Number libraries can solve that

[2021-05-14 15:00] azeveco commented on #50
Still having this issue, but with Chrome too

[2021-06-03 15:56] WesJourdan commented on #90
This drove me mad. How is this still not published to npm?

[2021-06-03 16:13] WesJourdan commented on #50
Weird, I am only having focus issues on safari. Chrome and FF work fine. It drove me crazy though before I found this.

[2021-06-30 17:13] luanfvieira commented on #96
I have the same problem.

[2021-10-28 22:44] garrettn opened #118 "Please publish a new version"
Hi, I noticed that no new version has been released since #80 was merged. Would it be possible to do that?

We found out that there's a vulnerability in a transitive dependency (`shell-quote@1.7.2`, required by `browserify@13.3.0`, required by v1.3.6 of this library). Since `browserify` was taken out of the dependencies in #80 it would be great to have this changed published so we're no longer ins

[2022-01-03 04:14] ericblade commented on #118
fwiw, i just forked this lib, as it's a major piece of the user interface in an app i'm working on, and no other currency input that i've found comes even close to doing what this one does..  first thing i've done is get it working with typescript tooling, and current React usage, which has rather broken it.. so it's not quite ready yet for use... but i hope to have it up and running within a few

[2022-01-04 00:15] ericblade commented on #42
fwiw, number type does not support selection, so specifying inputType to text or tel should work.

[2022-01-04 00:18] ericblade commented on #100
precision = 0?

not sure, haven't tried

[2022-01-08 23:35] ericblade commented on #118
I've just published @ericblade/react-currency-input^1.0.2 , which is pretty much identical in function to this repo, right now.  there may be some slight behavior changes, and i removed the bits that were deprecated in this repo.  I've placed a codepen at https://codepen.io/ericblade/pen/NWaLbGK

Whole thing is in typescript, and builds with the typescript compiler now.

I will be more than happy

[2022-01-08 23:38] ericblade commented on #96
I've just published @ericblade/react-currency-input^1.0.2 , which is pretty much identical in function to this repo, right now.  there may be some slight behavior changes, and i removed the bits that were deprecated in this repo.  I've placed a codepen at https://codepen.io/ericblade/pen/NWaLbGK

Whole thing is in typescript, and builds with the typescript compiler now.

I will be more than happy

[2022-01-08 23:40] ericblade commented on #93
If you're still interested, I've just published @ericblade/react-currency-input^1.0.2 , which is pretty much identical in function to this repo, right now.  there may be some slight behavior changes, and i removed the bits that were deprecated in this repo.  I've placed a codepen at https://codepen.io/ericblade/pen/NWaLbGK

Whole thing is in typescript, and builds with the typescript compiler now.

[2022-05-20 16:23] BrandonCopley commented on #118
What can we do to get an update, just to get dependencies updated perhaps?

[2022-05-21 23:41] ericblade commented on #118
There's a less ambitious-in-it's-changes fork here https://github.com/GitJMSeguradora/react-currency-input ...

Unfortunately, it looks like Joe is not active anymore, so we appear to be limited to forking it on our own, or following one of the other forks.

I opted to go with my own fork, which anyone is also welcome to work with.  For my purposes, it works identically to the original, but with a

[2022-05-24 19:42] garrettn commented on #118
Sorry for not chiming in earlier. We ended up switching to an internally developed component for a currency input (and I also no longer work at the place where we were affected by this), so this issue no longer affects me. But thanks @ericblade for trying to find a solution! I'm happy to keep this issue open since it seems like other people are interested in it (unless the maintainer decides to cl

[2022-07-14 20:28] gustavo-cardoso-deal opened #125 "Vulnerabilities found in project dependencies"
Before ran `yarn audit` i got this result:

Severity: 41 Low | 83 Moderate | 110 High | 34 Critical
Done in 8.17s.

So, it's necessary update dependecies and probaly code to fix this.

[2022-07-15 08:18] ericblade commented on #125
Might want to check out https://github.com/ericblade/react-currency-input

[2022-07-18 13:57] gustavo-cardoso-deal commented on #125
No way... You did it... Thanks.

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows

De: Eric ***@***.***>
Enviado:sexta-feira, 15 de julho de 2022 05:18
Para: ***@***.***>
Cc:Gustavo do Sacramento ***@***.***>; ***@***.***>
Assunto: Re: [jsillitoe/react-currency-input] Vulnerabilities found in project dependencies (Issue #125)

Might want to check out https://github.com

[2022-07-18 14:03] gustavo-cardoso-deal commented on #125
So, let me see...

Doesn't Joe accept new PRs?

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows

De: Gustavo do Sacramento ***@***.***>
Enviado:segunda-feira, 18 de julho de 2022 10:57
Para: ***@***.***>; ***@***.***>
***@***.***>
Assunto: RES: [jsillitoe/react-currency-input] Vulnerabilities found in project dependencies (Issue #125)

No way... You did it... Thanks.

[2022-07-22 23:52] ericblade commented on #125
Unfortunately, it looks like Joe has checked out of GitHub and other social medias some time ago.  I hope he's OK out there.

[2022-10-11 09:14] gustavo-cardoso-deal commented on #125
Ok, no problem.

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows

De: Eric ***@***.***>
Enviado:sexta-feira, 22 de julho de 2022 20:53
Para: ***@***.***>
Cc:Gustavo do Sacramento ***@***.***>; ***@***.***>
Assunto: Re: [jsillitoe/react-currency-input] Vulnerabilities found in project dependencies (Issue #125)

Unfortunately, it looks like Joe has checked out of GitHub

[2022-10-14 04:16] ericblade commented on #125
I do have a fork that I'm happy to keep maintaining at https://github.com/ericblade/react-currency-input